// Variables

$stats-red: #A32D1F;

/* BASE */

html,
body {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    clear: both;
    margin: 0 20px;
}


.mainContent {
    padding-top: 66px;
    max-width: 1600px;
    margin: 0 auto;
}

li {
    list-style: none;
}

// LOGO

.logo {
    text-align: center;
}

img {
    width: 10%;
    margin-top: 60px;
}

/* NAV */
.header {
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;

    line-height: 66px;
    color: #fff;
    background-color: #000;
}

.logo-header {
    padding: 0 25px;
    float: left;
}

.menu {
    float: left;

    a {
        padding: 0 10px;
    }

    a:hover {
        color: red;
    }
}

// SEARCH CONTAINER
.searchContainer {
    text-align: center;
}

#search {
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    outline: none;
    transition: border 0.3s;
}

.btn-clear {
    border: none;
    border-radius: 4px;
    background-color: $stats-red;
    box-shadow: 0 4px 0 0 #522420;
    padding: 12px 28px;
    margin: 10px;
    color: white;
    outline: none;

    &:active {
        transform: translateY(2px);
        box-shadow: 0 2px 0 0 #550F08;
    }
}

.hide {
    visibility: hidden;
}

// MONSTER LIST
.monsterContainer {
    width: 50%;
    float: left;
    padding: 1em;
}

.hidden {
    display: none;
}

ul.list {
    height: 100%;
    max-height: 40em;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 1em;
    clear: both;
}

ul.list li {
    padding: 1px;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid gray;
    max-height: 3em;
    overflow-y: hidden;
}

li:hover {
    background-color: #C3C3C3;
}

// MONSTER DISPLAY
#outputContainer {
    width: 50%;
    float: right;
    padding: 1em;
}

#monsterBlock {
    background-color: #fdf1dc;
    width: 100%;
}

#monsterName {
    color: $stats-red;
    font-weight: 700;
}

.statContainer {
    padding: 0 6px;
}

.separateLine {
    height: 4px;
    background-color: $stats-red;
    margin: 4px auto;
}

#abilityScoreNames {
    text-align: center;
    color: $stats-red;
    font-weight: 700;

    div {
        display: inline-block;
        width: 14%;
    }
}

#abilityScores {
    text-align: center;

    div {
        display: inline-block;
        width: 14%;
    }
}

.statLabel {
    color: $stats-red;
    font-weight: 700;
}

.statBorder {
    height: 6px;
    background-color: #EEB654;
    margin: 4px auto;
    border: 1px solid black;
}

// RESPONSIVE
@media screen and (max-width: 768px){
    #monsterList {
        width: 100%;
        padding-left: 0;
    }

    #outputContainer {
        width: 100%;
    }
    
    #monsterList > li .hidden {
        // display: none;
    }

    #monsterList li .type,
    #monsterList li .source {
        display: none;
    }

    #monsterList li .col-xs-3 {
        width: 50%;
    }

    #monsterList li a.cr {
        text-align: right;
    }

    .monsterContainer {
        margin: 0 auto;
        float: none;
        width: 100%;
    }


    // #monsterBlock {
    //     -webkit-transition: -webkit-transform 0.6s ease-in-out;
    //     transition: transform 0.6s ease-in-out;
    // }
    

}