/* BASE */

html,
body {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    clear: both;
    margin: 0 20px;
}

.mainContent {
    padding-top: 66px;
}

li {
    list-style: none;
}

/* NAV */
.header {
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;

    line-height: 66px;
    color: #fff;
    background-color: #000;
}

.logo {
    padding: 0 25px;
    float: left;
}

.menu {
    float: left;

    a {
        padding: 0 10px;
    }

    a:hover {
        color: red;
    }
}

// MONSTER LIST
.monsterContainer {
    width: 50%;
    float: left;
    padding: 1em;
}

ul.list {
    height: 100%;
    max-height: 40em;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 1em;
    clear: both;
}

ul.list li {
    padding: 1px;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid gray;
    max-height: 3em;
    overflow-y: hidden;
}

li:hover {
    background-color: #C3C3C3;
}

// MONSTER DISPLAY
#outputContainer {
    width: 50%;
    float: right;
    padding: 1em;
}

#monsterBlock {
    background-color: #fdf1dc;
    width: 100%;
    table-layout: fixed;
}

.separateLine div {
    height: 4px;
    background-color: red;
    margin: 4px auto;
}

#abilityScoreNames {
    text-align: center;

    div {
        display: inline-block;
    }
}

#abilityScores {
    text-align: center;

    div {
        display: inline-block;
    }
}

// RESPONSIVE
@media screen and (min-width: 768px){
    
}